[package]
name = "bee-storage-rocksdb"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "storage", "rocksdb"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-ledger = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
bee-message = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
bee-protocol = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
bee-ternary = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }

async-trait = "0.1"
futures = "0.3"
num_cpus = "1.13"
pin-project = "1.0"
rocksdb = { version = "0.15", default-features = false }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
bee-test = { path = "../../bee-test" }

tokio = { version = "0.2", features = ["macros"] }
