# Order is important, the last matching pattern takes the most precedence

# Working group   Lead                        Members
*                 thibault@iota.org
/.github/         thibault@iota.org           alexander.schmidt@iota.org
/bee-api/         samuel.rufinatscha@iota.org thibault@iota.org
/bee-common/      thibault@iota.org           alexander.schmidt@iota.org
/bee-crypto/      thibault@iota.org           alexander.schmidt@iota.org
/bee-ledger/      thibault@iota.org           samuel.rufinatscha@iota.org joshua.barretto@iota.org
/bee-message/     thibault@iota.org           bingyang.lin@iota.org thoralf.mueller@iota.org
/bee-network/     alexander.schmidt@iota.org  joshua.barretto@iota.org
/bee-node/        thibault@iota.org           alexander.schmidt@iota.org samuel.rufinatscha@iota.org joshua.barretto@iota.org
/bee-peering/     alexander.schmidt@iota.org  samuel.rufinatscha@iota.org
/bee-pow/         thibault@iota.org           alexander.schmidt@iota.org
/bee-protocol/    thibault@iota.org           samuel.rufinatscha@iota.org joshua.barretto@iota.org
/bee-runtime/     joshua.barretto@iota.org    thibault@iota.org
/bee-signing/     thibault@iota.org           alexander.schmidt@iota.org
/bee-snapshot/    thibault@iota.org           alexander.schmidt@iota.org samuel.rufinatscha@iota.org
/bee-storage/     louay.kamel@iota.org        bingyang.lin@iota.org thibault@iota.org
/bee-tangle/      joshua.barretto@iota.org    alexander.schmidt@iota.org samuel.rufinatscha@iota.org
/bee-ternary/     joshua.barretto@iota.org    thibault@iota.org
/bee-test/        thibault@iota.org

