[workspace]
members = [
	"bee-api/bee-rest-api",
	"bee-common/bee-common",
	"bee-common/bee-common-derive",
	"bee-crypto",
	"bee-ledger",
	"bee-message",
	"bee-network",
	"bee-pow",
	"bee-protocol",
	"bee-runtime",
	"bee-signing",
	"bee-storage/bee-storage",
	"bee-storage/bee-storage-memory",
	"bee-storage/bee-storage-null",
	"bee-storage/bee-storage-rocksdb",
	"bee-storage/bee-storage-sled",
	"bee-storage/bee-storage-test",
	"bee-tangle",
	"bee-ternary",
	"bee-test",
	"bee-tools/bee-bench-cpu",
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

# `iota-crypto` uses bee-ternary. We patch it to use our local version to avoid importing it twice.
[patch.crates-io]
bee-ternary = { path = "bee-ternary" }
