[workspace]
members = [
  "bee-common/bee-event-bus",
  "bee-common/bee-logger",
  "bee-common/bee-ord",
  "bee-common/bee-packable",
  "bee-common/bee-packable-derive",
  "bee-message",
  "bee-node/bee-node",
  "bee-node/bee-plugin",
  "bee-test"
]
