[package]
name = "bee-rest-api"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "api"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-ledger = { path = "../../bee-ledger" }
bee-message = { path = "../../bee-message" }
bee-pow = { path = "../../bee-pow" }
bee-protocol = { path = "../../bee-protocol" }
bee-runtime = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-tangle = { path = "../../bee-tangle" }

async-trait = "0.1"
bech32 = "0.7"
blake2 = "0.9"
digest = "0.9"
futures = "0.3"
hex = "0.4"
log = "0.4"
num_cpus = "1.13"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.0", features = [] }
warp = "0.3"
