[package]
name = "bee-rest-api"
version = "0.1.0-alpha"
authors = [ "IOTA Stiftung" ]
edition = "2021"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "api" ]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false, optional = true }
bee-ledger = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false }
bee-message = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false }
bee-gossip = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false, optional = true }
bee-pow = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false }
bee-protocol = { path = "../../bee-protocol", default-features = false }
bee-runtime = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false, optional = true  }
bee-storage = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false, optional = true }
bee-tangle = { git = "https://github.com/alex6323/bee.git", branch = "cpt2-autopeering", default-features = false, optional = true }

async-trait = { version = "0.1.51", default-features = false, optional = true }
bech32 = { version = "0.8.1", default-features = false, optional = true }
digest = { version = "0.9.0", default-features = false, optional = true }
futures = { version = "0.3.17", default-features = false, optional = true }
hex = { version = "0.4.3", default-features = false }
iota-crypto = { version = "0.9.1", default-features = false, features = [ "blake2b" ], optional = true }
log = { version = "0.4.14", default-features = false, optional = true }
multiaddr = { version = "0.13.0", default-features = false }
num_cpus = { version = "1.13.0", default-features = false, optional = true }
serde = { version = "1.0.130", default-features = false, features = [ "derive" ] }
serde_json = { version = "1.0.68", default-features = false, features = [ "alloc" ] }
thiserror = { version = "1.0.30", default-features = false }
tokio = { version = "1.12.0", default-features = false, optional = true }
warp = { version = "0.3.1", default-features = false, optional = true }

[features]
endpoints = [
  "bee-common",
  "bee-gossip",
  "bee-protocol/workers",
  "bee-runtime",
  "bee-storage",
  "bee-tangle",
  "async-trait",
  "bech32",
  "digest",
  "futures",
  "iota-crypto",
  "log",
  "num_cpus",
  "tokio",
  "warp",
]
