[package]
name = "bee-rest-api"
version = "0.1.0"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "The default REST API implementation for the IOTA Bee node software."
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "bee", "framework", "node", "api"]
homepage = "https://www.iota.org"

[dependencies]
bee-ledger = { version = "0.1.0", path = "../../bee-ledger" }
bee-message = { version = "0.1.3", path = "../../bee-message" }
bee-protocol = { version = "0.1.0", path = "../../bee-protocol" }

hex = { version = "0.4" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
thiserror = { version = "1.0" }
