[package]
name = "bee-ternary"
version = "0.2.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "Ergonomic ternary manipulation utilities"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "ternary"]
homepage = "https://www.iota.org"

[dependencies]
byteorder = "1.3.4"
lazy_static = "1.4.0"
num-traits = "0.2"
serde = { version = "1.0", optional = true }

[features]
serde1 = ["serde"]

[dev-dependencies]
rand = "0.7.3"
serde_json = "1.0"
