[package]
name = "bee-storage-test"
version = "0.2.0"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "A crate to test storage implementation in a generic way"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "storage", "rocksdb"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { version = "0.4.1", path = "../../bee-common/bee-common" }
bee-ledger = { version = "0.4.0", path = "../../bee-ledger" }
bee-message = { version = "0.1.3", path = "../../bee-message" }
bee-storage = { version = "0.7.0", path = "../bee-storage" }
bee-tangle = { version = "0.1.0", path = "../../bee-tangle" }
bee-test = { version = "0.1.0", path = "../../bee-test" }

futures = "0.3"
