[package]
name = "bee-storage-test"
version = "0.3.0"
authors = [ "IOTA Stiftung" ]
edition = "2021"
description = "A crate to test storage implementation in a generic way"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "storage" ]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { version = "0.5.0", path = "../../bee-common/bee-common", default-features = false }
bee-ledger = { version = "0.6.0", path = "../../bee-ledger", default-features = false }
bee-message = { version = "0.1.6", path = "../../bee-message", default-features = false }
bee-storage = { version = "0.9.0", path = "../bee-storage", default-features = false }
bee-tangle = { version = "0.2.0", path = "../../bee-tangle", default-features = false }
bee-test = { version = "0.1.0", path = "../../bee-test", default-features = false }
