[package]
name = "bee-pow"
version = "0.2.0"
authors = [ "IOTA Stiftung" ]
edition = "2021"
description = "Provides Proof of Work utilities for the IOTA protocol"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "pow" ]
homepage = "https://www.iota.org"

[dependencies]
bee-ternary = { version = "0.5.2", path = "../bee-ternary", default-features = false }

iota-crypto = { version = "0.9.1", default-features = false, features = [ "blake2b", "digest", "curl-p" ] }
thiserror = { version = "1.0.30", default-features = false }

[dev-dependencies]
bee-test = { path = "../bee-test", default-features = false }

structopt = { version = "0.3.23", default-features = false }
thiserror = { version = "1.0.30", default-features = false }
num_cpus = { version = "1.13.0", default-features = false }
rand = { version = "0.8.4", default-features = false }
