[package]
name = "bee-storage-memory"
version = "0.1.0"
authors = [ "IOTA Stiftung" ]
edition = "2018"
description = "An in-memory bee-storage implementation"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "storage" ]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { version = "0.5.0", path = "../../bee-common/bee-common", default-features = false }
bee-ledger = { version = "0.7.0", path = "../../bee-ledger", default-features = false }
bee-message = { version = "0.2.0", path = "../../bee-message", default-features = false }
bee-storage = { version = "0.9.0", path = "../bee-storage", default-features = false }
bee-tangle = { version = "0.3.0", path = "../../bee-tangle", default-features = false }

serde = { version = "1.0.130", default-features = false, features = [ "derive" ] }
thiserror = { version = "1.0.30", default-features = false }

[dev-dependencies]
bee-storage-test = { path = "../bee-storage-test", default-features = false }
bee-test = { path = "../../bee-test", default-features = false }
