[package]
name = "bee-message"
version = "0.1.3"
authors = [ "IOTA Stiftung" ]
edition = "2018"
description = "Implementation of the IOTA protocol message layouts."
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "message" ]
homepage = "https://www.iota.org"

[dependencies]
bee-ord = { path = "../bee-common/bee-ord", default-features = false }
bee-packable = { path = "../bee-common/bee-packable", default-features = false, features = [ "serde" ] }
bee-packable-derive = { path = "../bee-common/bee-packable-derive", default-features = false }

bech32 = { version = "0.8.1", default-features = false }
bitflags = { version = "1.3.2", default-features = false, optional = true }
bitvec = { version = "0.20.2", default-features = false }
digest = { version = "0.9.0", default-features = false }
hashbrown = { version = "0.11.2", default-features = false, features = [ "ahash-compile-time-rng" ] }
hex = { version = "0.4.3", default-features = false }
iota-crypto = { version = "0.7.0", default-features = false, features = [ "ed25519", "blake2b" ] }
serde = { version = "1.0.130", default-features = false, features = [ "derive" ], optional = true }
serde-big-array = { version = "0.3.2", default-features = false, features = [ "const-generics" ], optional = true }

[dev-dependencies]
bee-test = { path = "../bee-test", default-features = false }

serde_json = { version = "1.0.68", default-features = false }

[features]
metadata = [ "bitflags" ]
serde1 = [ "serde", "serde-big-array" ]
