[package]
name = "bee-message"
version = "0.1.3"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "Implementation of the IOTA protocol message layouts"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "message"]
homepage = "https://www.iota.org"

[dependencies]
bee-ord = { path = "../bee-common/bee-ord" }
bee-packable = { path = "../bee-common/bee-packable" }
bee-packable-derive = { path = "../bee-common/bee-packable-derive" }

bech32 = "0.8"
bitvec = "0.22"
digest = "0.9"
hashbrown = "0.11"
hex = "0.4"
iota-crypto = { version = "0.6.0", features = ["ed25519", "blake2b"] }
serde = { version = "1.0", optional = true }
thiserror = "1.0"

[dev-dependencies]
bee-test = { path = "../bee-test" }
