[package]
name = "bee-protocol"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "protocol"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-ledger = { path = "../bee-ledger" }
bee-message = { path = "../bee-message", features = ["serde"] }
bee-network = { path = "../bee-network" }
bee-runtime = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-snapshot = { path = "../bee-snapshot" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-tangle = { path = "../bee-tangle" }
bee-ternary = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }

async-channel = "1.5"
async-priority-queue = "0.1"
async-trait = "0.1"
futures = "0.3"
futures-util = "0.3"
fxhash = "0.2"
hex = "0.4"
iota-crypto = { git = "https://github.com/iotaledger/crypto.rs", rev = "c3bf565eba62d0b81144174c2ff917bfde282e49", features = ["blake2b", "ed25519"] }
log = "0.4"
num_cpus = "1.13"
pin-project = "1.0"
rand = "0.8"
ref-cast = "1.0"
serde = { version = "1.0", features = ["derive" ] }
spin = "0.7"
thiserror = "1.0"
tokio = { version = "1.1", features = ["rt-multi-thread"] }
tokio-stream = "0.1"
twox-hash = "1.5"

[dev-dependencies]
tokio = { version = "1.1", features = ["macros"] }
