[package]
name = "bee-protocol"
version = "0.1.0"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "All types and workers enabling the IOTA protocol"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "protocol"]
homepage = "https://www.iota.org"

[dependencies]
bee-message = { version = "0.1.3", path = "../bee-message", features = ["serde"] }
bee-network = { version = "0.2.0", path = "../bee-network" }
