[package]
name = "bee-node"
version = "1.0.0-alpha.6"
authors = [ "IOTA Stiftung" ]
edition = "2021"
description = "Default node implementations."
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = [ "iota", "tangle", "bee", "framework", "node" ]
homepage = "https://www.iota.org"

[dependencies]
bee-autopeering = { version = "0.5.0", path = "../../bee-network/bee-autopeering", default-features = false, features = [ "rocksdb" ] }
bee-block = { version = "1.0.0-beta.7", path = "../../bee-block", default-features = false }
bee-gossip = { version = "1.0.0-beta.2", path = "../../bee-network/bee-gossip", default-features = false, features = [ "full" ] }
bee-ledger = { version = "0.7.0", path = "../../bee-ledger/bee-ledger", default-features = false }
bee-plugin = { version = "0.1.0", path = "../bee-plugin/bee-plugin", default-features = false }
bee-plugin-dashboard = { version = "0.1.0", path = "../bee-plugin/bee-plugin-dashboard", default-features = false, optional = true }
bee-plugin-mps = { version = "0.1.0", path = "../bee-plugin/bee-plugin-mps", default-features = false }
bee-plugin-version-checker = { version = "0.1.0", path = "../bee-plugin/bee-plugin-version-checker", default-features = false }
bee-protocol = { version = "0.2.2", path = "../../bee-protocol/bee-protocol", default-features = false }
bee-rest-api = { version = "0.2.0", path = "../../bee-api/bee-rest-api", default-features = false }
bee-runtime = { version = "1.0.0-beta.1", path = "../../bee-runtime", default-features = false }
bee-storage = { version = "1.0.0-beta.1", path = "../../bee-storage/bee-storage", default-features = false }
bee-storage-null = { version = "0.3.0", path = "../../bee-storage/bee-storage-null", default-features = false }
bee-storage-rocksdb = { version = "0.8.0", path = "../../bee-storage/bee-storage-rocksdb", default-features = false, optional = true }
bee-storage-sled = { version = "0.7.0", path = "../../bee-storage/bee-storage-sled", default-features = false, optional = true }
bee-tangle = { version = "0.3.0", path = "../../bee-tangle", default-features = false }

anymap = { version = "0.12.1", default-features = false }
async-trait = { version = "0.1.57", default-features = false }
auth-helper = { version = "0.2.0", default-features = false }
chrono = { version = "0.4.22", default-features = false }
ed25519 = { version = "1.4.1", default-features = false, features = [ "alloc", "pkcs8" ] }
fern-logger = { version = "0.5.0", default-features = false }
futures = { version = "0.3.23", default-features = false }
fxhash = { version = "0.2.1", default-features = false }
hex = { version = "0.4.3", default-features = false }
iota-crypto = { version = "0.14.0", default-features = false, features = [ "ed25519", "random", "blake2b" ] }
log = { version = "0.4.17", default-features = false }
multiaddr = { version = "0.14.0", default-features = false }
packable = { version = "0.6.2", default-features = false, features = [ "io" ] }
pkcs8 = { version = "0.8.0", default-features = false, features = [ "alloc", "pem", "std" ] }
rand = { version = "0.8.5", default-features = false }
rpassword = { version = "7.0.0", default-features = false }
serde = { version = "1.0.144", default-features = false, features = [ "derive" ] }
serde_json = { version = "1.0.85", default-features = false }
structopt = { version = "0.3.26", default-features = false }
thiserror = { version = "1.0.32", default-features = false }
tokio = { version = "1.20.1", default-features = false, features = [ "signal", "rt", "macros", "rt-multi-thread" ] }
tokio-stream = { version = "0.1.9", default-features = false }
toml = { version = "0.5.9", default-features = false }
tracing = { version = "0.1.36", default-features = false, optional = true }
warp = { version = "0.3.2", default-features = false }

[lib]
name = "bee_node"
path = "src/lib.rs"

[[bin]]
name = "bee"
path = "src/main.rs"

[features]
default = [ "rocksdb" ]

dashboard = [ "bee-plugin-dashboard", "bee-rest-api/dashboard" ]
rocksdb = [ "bee-storage-rocksdb" ]
sled = [ "bee-storage-sled" ]
