[package]
name = "bee-node"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "node"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-ledger = { path = "../bee-ledger" }
bee-message = { path = "../bee-message" }
bee-network = { path = "../bee-network" }
bee-peering = { path = "../bee-peering" }
bee-protocol = { path = "../bee-protocol" }
bee-rest-api = { path = "../bee-api/bee-rest-api" }
bee-runtime = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-snapshot = { path = "../bee-snapshot" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-storage-rocksdb = { path = "../bee-storage/bee-storage-rocksdb" }
bee-tangle = { path = "../bee-tangle" }

anymap = "0.12"
async-trait = "0.1"
blake2 = "0.9"
cap = "0.1.0"
chrono = "0.4"
futures = "0.3"
hex = "0.4"
iota-crypto = { git = "https://github.com/iotaledger/crypto.rs", branch = "dev", features = ["ed25519", "random", "blake2b"] }
log = "0.4"
mime_guess = "2.0"
paho-mqtt = { version = "0.8", default-features = false, features = ["bundled"]}
rust-embed = { version = "5.7", features = ["interpolate-folder-path"] }
serde = { version = "1.0", features = ["derive" ] }
serde_json = "1.0"
serde_repr = "0.1.6"
structopt = { version = "0.3", default-features = false }
thiserror = "1.0"
tokio = { version = "0.2", features = ["signal", "macros"] }
toml = "0.5"
warp = "0.2"
warp-reverse-proxy = "0.2.0"

[lib]
name = "bee_node"
path = "src/lib.rs"

[[bin]]
name = "bee"
path = "src/main.rs"

[features]
dashboard = []
