[package]
name = "bee-node"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework", "node"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev", features = [ "auth" ] }
bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-ledger = { path = "../bee-ledger", features = [ "workers" ] }
bee-message = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-network = { path = "../bee-network", features = ["integrated"] }
bee-protocol = { path = "../bee-protocol" }
bee-rest-api = { path = "../bee-api/bee-rest-api", features = ["endpoints"] }
bee-runtime = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-storage-rocksdb = { path = "../bee-storage/bee-storage-rocksdb" }
bee-tangle = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }

anymap = "0.12"
async-trait = "0.1"
cap = { version = "0.1", optional = true }
chrono = "0.4"
futures = "0.3"
fxhash = "0.2"
hex = "0.4"
iota-crypto = { version = "0.5.0", features = ["ed25519", "random", "blake2b"] }
jsonwebtoken = { version = "7.2", optional = true }
log = "0.4"
mime_guess = { version = "2.0", optional = true }
paho-mqtt = { version = "0.9", default-features = false, features = ["bundled"]}
rand = "0.8"
rpassword = "5.0"
rust-embed = { version = "5.7", features = ["interpolate-folder-path"], optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = { version = "0.1", optional = true }
structopt = { version = "0.3", default-features = false }
thiserror = "1.0"
tokio = { version = "1.4", features = ["signal", "rt", "macros", "rt-multi-thread"] }
tokio-stream = "0.1"
toml = "0.5"
warp = "0.3"
warp-reverse-proxy = { version = "0.3", optional = true }

[lib]
name = "bee_node"
path = "src/lib.rs"

[[bin]]
name = "bee"
path = "src/main.rs"

[features]
dashboard = [ "cap", "mime_guess", "jsonwebtoken", "rust-embed", "serde_repr", "warp-reverse-proxy" ]
