# Duplicate this file to config.toml to use it

identity   = ""
alias      = "bee"
bech32_hrp = "iota"
network_id = "c2-mainnet"

[logger]
color_enabled = true
[[logger.outputs]]
name          = "stdout"
level_filter  = "info"
[[logger.outputs]]
name          = "warn.log"
level_filter  = "warn"

[network]
bind_address            = "/ip4/0.0.0.0/tcp/15600"
reconnect_interval_secs = 30
max_unknown_peers       = 4

[network.peering]
#[[network.peering.peers]]
#address  = ""
#alias    = ""
#[[network.peering.peers]]
#address  = ""
#alias    = ""

[protocol]
minimum_pow_score = 4000
[protocol.coordinator]
public_key_count  = 2
[[protocol.coordinator.public_key_ranges]]
public_key  = "a9b46fe743df783dedd00c954612428b34241f5913cf249d75bed3aafd65e4cd"
start       = 0
end         = 777600
[[protocol.coordinator.public_key_ranges]]
public_key  = "365fb85e7568b9b32f7359d6cbafa9814472ad0ecbad32d77beaf5dd9e84c6ba"
start       = 0
end         = 1555200
[protocol.workers]
status_interval = 10
ms_sync_count = 200

[rest_api]
binding_port          = 14265
binding_ip_addr       = "0.0.0.0"
feature_proof_of_work = true
public_routes         = [
    "/health",
    "/api/v1/info",
    "/api/v1/tips",
    "/api/v1/messages",
    "/api/v1/messages/:messageId",
    "/api/v1/messages/:messageId/metadata",
    "/api/v1/messages/:messageId/raw",
    "/api/v1/messages/:messageId/children",
    "/api/v1/outputs/:outputId",
    "/api/v1/addresses/:address",
    "/api/v1/addresses/ed25519/:address",
    "/api/v1/addresses/:address/outputs",
    "/api/v1/addresses/ed25519/:address/outputs",
    "/api/v1/receipts",
    "/api/v1/receipts/:milestoneIndex",
    "/api/v1/treasury",
    "/api/v1/transactions/:transactionId/included-message",
    "/api/v1/milestones/:milestoneIndex",
    "/api/v1/milestones/:milestoneIndex/utxo-changes",
]
allowed_ips = [
    "127.0.0.1",
    "::1"
]
white_flag_solidification_timeout = 2

[snapshot]
full_path         = "./snapshots/mainnet/latest-full_snapshot.bin"
delta_path        = "./snapshots/mainnet/latest-delta_snapshot.bin"
download_urls     = [
  "https://chrysalis-dbfiles.iota.org/snapshots/hornet/"
]
depth             = 50
interval_synced   = 50
interval_unsynced = 1000

[pruning]
enabled         = true
delay           = 60480
prune_receipts  = false

[storage]
path = "./storage/mainnet"

[tangle]
below_max_depth = 15

[mqtt]
address = "tcp://localhost:1883"

[dashboard]
port  = 8081
[dashboard.auth]
session_timeout = 86400
user            = "admin"
password_salt   = "0000000000000000000000000000000000000000000000000000000000000000"
password_hash   = "0000000000000000000000000000000000000000000000000000000000000000"
