# Duplicate this file to config.toml to use it

identity   = ""
alias      = "bee"
bech32_hrp = "atoi"
network_id = "testnet6"

[logger]
color_enabled = true
[[logger.outputs]]
name          = "stdout"
level_filter  = "info"
[[logger.outputs]]
name          = "error.log"
level_filter  = "error"

[network]
bind_address             = "/ip4/0.0.0.0/tcp/15600"
reconnect_interval_secs  = 30
max_unknown_peers        = 4
[network.peering]
#[[network.peering.peers]]
#address = ""
#alias   = ""
#[[network.peering.peers]]
#address = ""
#alias   = ""

[protocol]
minimum_pow_score = 4000
[protocol.coordinator]
public_key_count  = 2
[[protocol.coordinator.public_key_ranges]]
public_key  = "7205c145525cee64f1c9363696811d239919d830ad964b4e29359e6475848f5a"
start       = 0
end         = 0
[[protocol.coordinator.public_key_ranges]]
public_key  = "e468e82df33d10dea3bd0eadcd7867946a674d207c39f5af4cc44365d268a7e6"
start       = 0
end         = 0
[[protocol.coordinator.public_key_ranges]]
public_key  = "0758028d34508079ba1f223907ac3bb5ce8f6bdccc6b961c7c85a2f460b30c1d"
start       = 0
end         = 0
[protocol.workers]
status_interval = 10
ms_sync_count = 200

[rest_api]
binding_port          = 14265
binding_ip_addr       = "0.0.0.0"
feature_proof_of_work = true
public_routes         = [
    "/api/v1/addresses/:address",
    "/api/v1/addresses/ed25519/:address",
    "/health",
    "/api/v1/info",
    "/api/v1/messages/:messageId",
    "/api/v1/messages/:messageId/children",
    "/api/v1/messages/:messageId/metadata",
    "/api/v1/messages/:messageId/raw",
    "/api/v1/messages",
    "/api/v1/milestones/:milestoneIndex",
    "/api/v1/milestones/:milestoneIndex/utxo-changes",
    "/api/v1/outputs/:outputId",
    "/api/v1/addresses/:address/outputs",
    "/api/v1/addresses/ed25519/:address/outputs",
    "/api/v1/messages",
    "/api/v1/tips",
    "/api/v1/receipts",
    "/api/v1/receipts/:milestoneIndex",
    "/api/v1/treasury",
]
allowed_ips = [
    "127.0.0.1",
    "::1"
]

[snapshot]
full_path         = "./snapshots/alphanet/full_snapshot.bin"
delta_path        = "./snapshots/alphanet/delta_snapshot.bin"
download_urls     = [
  "https://dbfiles.testnet.chrysalis2.com/"
]
depth             = 50
interval_synced   = 50
interval_unsynced = 1000

[storage]
path = "./storage/alphanet"

[tangle]
[tangle.pruning]
enabled = true
delay   = 60480

[mqtt]
address = "tcp://localhost:1883"

[dashboard]
port  = 8081
[dashboard.auth]
session_timeout = 86400
user            = "admin"
password_salt   = "8929cbf3cd1f46b29d312310a1d40bd1ae538f622a5a2f706fa7436fee1d5735"
password_hash   = "0da6fa0a3dd84b2683a4ea3557fbd69222b146cf21291b263c29b28de9442484"
