[package]
name = "bee-tangle"
version = "0.1.2"
authors = ["IOTA Stiftung"]
edition = "2018"
description = "A distributed, directed, acyclic graph that underpins the DLT for IOTA's Bee node"
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { version = "0.4.1", path = "../bee-common/bee-common" }
bee-message = { version = "0.1.3", path = "../bee-message", features = [ "serde" ] }
bee-runtime = { version = "0.1.1-alpha", path = "../bee-runtime" }
bee-storage = { version = "0.9.0", path = "../bee-storage/bee-storage" }

async-trait = "0.1"
bitflags = "1.2"
dashmap = "4.0"
futures = "0.3"
hashbrown = "0.11"
log = "0.4"
lru = "0.6"
rand = "0.8"
ref-cast = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
thiserror = "1.0"
tokio = { version = "1.9", features = [ "sync", "time" ] }
tokio-stream = { version = "0.1" }
