[package]
name = "bee-tangle"
version = "0.1.0-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
description = ""
readme = "README.md"
repository = "https://github.com/iotaledger/bee"
license = "Apache-2.0"
keywords = ["iota", "tangle", "bee", "framework"]
homepage = "https://www.iota.org"

[dependencies]
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-message = { path = "../bee-message" }
bee-runtime = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
bee-snapshot = { path = "../bee-snapshot" }
bee-storage = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }

async-trait = "0.1"
bitflags = "1.2"
dashmap = "4.0"
futures = "0.3"
log = "0.4"
lru = "0.6"
rand = "0.8"
ref-cast = "1.0"
serde = { version = "1.0", features = ["derive" ] }
thiserror = "1.0"
tokio = { version = "1.1", features = ["sync"] }
hashbrown = "0.9"

[dev-dependencies]
bee-test = { path = "../bee-test" }

criterion = "0.3"
pollster = "0.2"
