name: Release

on:
  release:
    types: [published]

jobs:
  docker:
    name: Release Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Prepare dashboard frontend
        run: |
          git submodule init
          git submodule update --recursive --remote
          cd bee-node/src/plugins/dashboard/frontend/
          npm install
          npm run build-bee

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: iotaledger/bee-iota
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push to Dockerhub
        uses: docker/build-push-action@v2
        with:
          file: ./docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}